{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}
  <h2>Ingredients in Stock</h2>
  <a href="{% url 'update_stock' %}">Edit</a>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit of measure</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unit}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
