{% extends 'base.html' %} {% load static %} {% block content %}
<h2>Delete Purchase: Table {{ object.table_order.table_num }}</h2>
<form method="post">
  {% csrf_token %}
  <p>Are you sure you want to delete "{{ object.menu_item_name }}"</p>
  {% if object.menu_item %}
    <div class="restock">
      <input class="restock-input" type="checkbox" value="True" id="restock" name="restock">
      <label class="restock-label" for="restock">Restock on delete</label>
    </div>
  {% endif %}
  <input type="submit" value="Confirm" />
</form>
{% endblock %}
