{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}

  <h1>{{ menu_item.title }}</h1>

  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ul>
      <li class="breadcrumb"><a href="{% url 'menu' %}">Menu</a></li>
      {% if user.is_staff %}
        <li class="edit"><a href="{% url 'menu_item_edit' menu_item.title %}">Edit</a></li>
      {% endif %}
    </ul>
  </nav>
  {% if user.is_staff %}
    <a class="delete-button" href="{% url 'delete_menu' menu_item.title %}">Delete {{ menu_item.title }}</a>
  {% endif %}
  <section>
    <h2 class="detail">Ingredients</h2>
    <article>
      {% for item in object_list %}
        {{ item.ingredient.name }}
        {% if not forloop.last %},{% endif %}
      {% endfor %}
    </article>
    <h2 class="detail">Description</h2>
    <article>
      {{ menu_item.description }}
    </article>
  </section>

{% endblock %}
