{% extends 'base.html' %} {% load static %} {% block title %}Django Delights{% endblock %} {% block content %}
<div class="home">
  <div>
    <h2>Home</h2>
    <table class="line-table">
      <thead>
        <tr>
          <th>Dish</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
          {% for item in menu %}
          <tr>
            <td>{{ item.title }}</td>
            <td>£{{ item.price }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
