{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}
<div>
  <h2>Ingredients</h2>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit of measure</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
          <tr>
            <td>
              <a href="{% url 'update_ingredients' item.name %}">{{ item.name }}<a>
            </td>
            <td><a>{{ item.quantity }}</a></td>
            <td>
              {{ item.unit}}
            </td>
            <td>
              <a class="delete-button" href="{% url 'delete_ingredients' item.name %}">❌</a>
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="add-button" href="{% url 'create_ingredients' %}">➕</a>
</div>
{% endblock %}
