{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}
<div>
  <h2>Ingredients in Stock</h2>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit of measure</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
          <tr>
            <td>
              {{ item.name }}
            </td>
            <td>
              {{ item.quantity }}
            </td>
            <td>
              {{ item.unit}}
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="add-button" href="{% url 'create_ingredients' %}">Restock</a>
</div>
{% endblock %}
