{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}

  <h1>Menu</h1>

  {% if user.is_staff %}
    <div class="add">
      <a class="addbutton" href="{% url 'update_menu_display' %}">EDIT</a>
    </div>

    <table class="menu-table">
      <thead class="heading">
        <tr>
          <th><h2>Starters</h2></th>
          <th>Profit</th>
          <th>Price</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        {% for menu_item in object_list %}
          {% if menu_item.display and menu_item.category.category == 'Starters' %}
            <tr>
              <td><a href="{% url 'details' menu_item.title %}">{{ menu_item.title }}</a></td>
              <td>£{{ menu_item.dish_profit }}</td>
              <td>£{{ menu_item.price }}</td>
              <td>{{ menu_item.available }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>

      <tbody class="heading">
        <tr>
          <td><h2>Mains</h2></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tbody>
        {% for menu_item in object_list %}
          {% if menu_item.display and menu_item.category.category == 'Mains' %}
            <tr>
              <td><a href="{% url 'details' menu_item.title %}">{{ menu_item.title }}</a></td>
              <td>£{{ menu_item.dish_profit }}</td>
              <td>£{{ menu_item.price }}</td>
              <td>{{ menu_item.available }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>

      <tbody class="heading">
        <tr>
          <td><h2>Desserts</h2></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tbody>
        {% for menu_item in object_list %}
          {% if menu_item.display and menu_item.category.category == 'Desserts' %}
            <tr>
              <td><a href="{% url 'details' menu_item.title %}">{{ menu_item.title }}</a></td>
              <td>£{{ menu_item.dish_profit }}</td>
              <td>£{{ menu_item.price }}</td>
              <td>{{ menu_item.available }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <div class="container-grey">
      <h2>Starters</h2>
    </div>
    <table class="menu-table">
      <tbody>
        {% for menu_item in object_list %}
          {% if menu_item.display and menu_item.category.category == 'Starters' %}
            <tr>
              <td><a href="{% url 'details' menu_item.title %}">{{ menu_item.title }}</a></td>
              <td></td>
              <td></td>
              <td>{{ menu_item.price }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <div class="container-grey">
      <h2>Mains</h2>
    </div>
    <table class="menu-table">
      <tbody>
        {% for menu_item in object_list %}
          {% if menu_item.display and menu_item.category.category == 'Mains' %}
            <tr>
              <td><a href="{% url 'details' menu_item.title %}">{{ menu_item.title }}</a></td>
              <td></td>
              <td></td>
              <td>£{{ menu_item.price }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <div class="container-grey">
      <h2>Desserts</h2>
    </div>
    <table class="menu-table">
      <tbody>
        {% for menu_item in object_list %}
          {% if menu_item.display and menu_item.category.category == 'Desserts' %}
            <tr>
              <td><a href="{% url 'details' menu_item.title %}">{{ menu_item.title }}</a></td>
              <td><div class="exclamation">!</div></td>
              <td>Stockout</td>
              <td>{{ menu_item.price }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}
