{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}

  <h1>Menu</h1>

  {% if user.is_staff %}
    <div class="add">
      <a class="addbutton" href="{% url 'menu_edit' %}">EDIT</a>
    </div>

    <table class="menu-table">
      {% for menu_item in object_list|dictsort:'category.id' %}
        {% ifchanged %}
          <thead class="heading">
            <tr>
              <td><h2>{{ menu_item.category.category }}</h2></td>
              <td>{% if forloop.counter == 1 %}Profit{% endif %}</td>
              <td>{% if forloop.counter == 1 %}Price{% endif %}</td>
              <td>{% if forloop.counter == 1 %}Stock{% endif %}</td>
            </tr>
          </thead>
        {% endifchanged %}
        {% ifchanged %}<tbody>{% endifchanged %}
          <tr>
            <td><a href="{% url 'details' menu_item.title %}">{{ menu_item.title }}</a></td>
            <td>£{{ menu_item.dish_profit }}</td>
            <td>£{{ menu_item.price }}</td>
            <td>{{ menu_item.available }}</td>
          </tr>
        {% ifchanged %}</tbody>{% endifchanged %}
      {% endfor %}
    </table>

  {% else %}
    <table class="menu-table">
      {% for menu_item in object_list|dictsort:'category.id' %}
        {% ifchanged %}
          <thead class="heading">
            <tr>
              <td><h2>{{ menu_item.category.category }}</h2></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </thead>
        {% endifchanged %}
        {% ifchanged %}<tbody>{% endifchanged %}
          <tr>
            <td><a href="{% url 'details' menu_item.title %}">{{ menu_item.title }}</a></td>
            <td>{% if menu_item.available == 0 %}<div class="exclamation">!</div>{% endif %}</td>
            <td>{% if menu_item.available == 0 %}Stockout{% endif %}</td>
            <td>{{ menu_item.price }}</td>
          </tr>
        {% ifchanged %}</tbody>{% endifchanged %}
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
