{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}
<div>
  <h2>Recipe for {{ menu_recipe }}</h2>
  <table>
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Unit Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
          <tr>
            <td>
              {{ item.ingredient.name }}
            </td>
            <td>
              <a href="{% url 'update_recipe' item.id %}">{{ item.quantity }}</a>
            </td>
            <td>
              {{ item.ingredient.unit }}
            </td>
            <td>
              £ {{ item.ingredient.unit_price }}
            </td>
            <td>
              <a class="delete-button" href="{% url 'delete_recipe' item.id %}">❌</a>
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="add-button" href="{% url 'create_recipe' menu_recipe %}">➕</a>
</div>
{% endblock %}
